<!DOCTYPE html>
<html lang="us">
  <body>
    <%= require('raw-loader!./../includes/header.html').default %>

    <section class="main-hero">
      <img src="./images/main-hero.png" alt="" class="main-hero__bg">
      <div class="container">
        <div class="main-hero__content">
          <h1>ExteriorXperts</h1>
          <p>
            Welcome to ExteriorXperts, where expertise meets excellence. We're dedicated to enhancing your property's
            beauty and durability through top-quality siding solutions
          </p>
          <div class="main-hero__buttons">
            <a href="#" class="button button--full">Product</a>
            <a href="#" class="button">Contact Us</a>
          </div>
        </div>
      </div>
    </section>

    <section class="main-build">
      <div class="container">
        <h3 class="title-xl">Pro Siding Contractor Company in Toronto</h3>
        <p class="text">
          CLADDERS™ is a premier Toronto-based company that specializes in providing top-notch modern exterior products
          and professional cladding services. Our team of experts is committed to helping you build, modernize or reface
          your property with the latest designs and technology in the market. We understand that every project is unique,
          that’s why we take a client-focused approach and listen to your needs before we recommend the best materials
          and solutions for your property
        </p>
        <div class="slider-wrapper slider-wrapper--build">
          <div class="build-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./images/sketch1.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/sketch2.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/sketch3.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/sketch4.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/sketch5.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/sketch6.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/sketch7.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>

          <div class="swiper-button swiper-button-prev">
            <svg>
              <use xlink:href="#arrow"></use>
            </svg>
          </div>
          <div class="swiper-button swiper-button-next">
            <svg>
              <use xlink:href="#arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </section>

    <section class="main-about">
      <div class="container">
        <h2 class="title-section">WHO WE ARE</h2>
        <h3 class="title-xl">CLADDERS™ Facade Solutions</h3>
        <p class="text">
          In CLADDERS™ we gathered professional technical cladding advisors, designers, suppliers and installers in
          order to provide the most reliable services to our clients and partners. Our in-house installation crews are
          professional carpenters with years of brilliant experience in roofing and cladding industry. They follow the
          latest Occupational Health & Safety Act (OHSA) guidelines.
        </p>
      </div>
    </section>

    <section class="main-residential">
      <div class="container two-columns">
        <h2 class="title-section">Residential</h2>
        <div class="text-container">
          <h3 class="title-xl">Modern Residential Cladding Solutions</h3>
          <p class="text">
            At CLADDERS, we are proud to offer modern house siding and architectural cladding solutions for Canadian
            residential properties. With our experienced team of experts and wide selection of sustainable, modern
            materials, you can trust us to provide the best possible service when it comes to your home’s cladding
            needs. We take pride in using only the most innovative designs and top-of-the-line products to deliver
            stunning results for our customers. Whether you’re looking for a simple refresh or a complete transformation,
            our skilled professionals will work with you to find the perfect solution that fits your unique style. With
            years of experience in the industry and an eye for cutting-edge trends, we have what it takes to bring your
            vision to life.
          </p>
          <p class="text">
            In CLADDERS™ we gathered professional technical cladding advisors, designers, suppliers and installers in
            order to provide the most reliable services to our clients and partners. Our in-house installation crews are
            professional carpenters with years of brilliant experience in roofing and cladding industry. They follow the
            latest Occupational Health & Safety Act (OHSA) guidelines.
          </p>
        </div>
        <div class="slider-wrapper">
          <div class="column-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./images/building1.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/building2.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/building3.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/building4.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="buttons-wrapper">
            <div class="swiper-button swiper-button-prev">
              <svg>
                <use xlink:href="#arrow"></use>
              </svg>
            </div>
            <div class="swiper-button swiper-button-next">
              <svg>
                <use xlink:href="#arrow"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="main-commercial">
      <div class="container">
        <h2 class="title-section">Commercial</h2>
        <h3 class="title-xl">Modern Residential Cladding Solutions</h3>
        <p class="text">
          At CLADDERS, we are proud to offer modern house siding and architectural cladding solutions for Canadian
          residential properties. With our experienced team of experts and wide selection of sustainable, modern
          materials, you can trust us to provide the best possible service when it comes to your home’s cladding
          needs. We take pride in using only the most innovative designs and top-of-the-line products to deliver
          stunning results for our customers. Whether you’re looking for a simple refresh or a complete transformation,
          our skilled professionals will work with you to find the perfect solution that fits your unique style. With
          years of experience in the industry and an eye for cutting-edge trends, we have what it takes to bring your
          vision to life.
        </p>
      </div>
      <div class="slider-wrapper">
          <div class="projects-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./images/facade1.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/facade2.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/facade3.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./images/building1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="buttons-wrapper">
            <div class="swiper-button swiper-button-prev">
              <svg>
                <use xlink:href="#arrow"></use>
              </svg>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button swiper-button-next">
              <svg>
                <use xlink:href="#arrow"></use>
              </svg>
            </div>
          </div>
    </div>
      <div class="container">
        <p class="text text--left">
          CLADDERS™ is the professional network of the top siding contractors, façade designers, and cladding suppliers
          in the Greater Toronto Area. From supply to design to installation, CLADDERS™ is the one-stop-shop for all of
          your exterior needs. We supply from the most reliable and well-known brands of North America and Europe who
          has been in the market for over a decade.
        </p>
        <p class="text text--left">
          CLADDERS™ is the professional network of the top siding contractors, façade designers, and cladding suppliers
          in the Greater Toronto Area. From supply to design to installation, CLADDERS™ is the one-stop-shop for all of
          your exterior needs. We supply from the most reliable and well-known brands of North America and Europe who
          has been in the market for over a decade.
        </p>
      </div>
    </section>

    <section class="main-materials">
      <div class="container">
        <h2 class="title-section">Cladding Materials</h2>
        <h3 class="title-xl">Modern Siding Products</h3>
        <p class="text text--left">
          We supply, design & install Aluminum composite panels (ACM Panels OR ACP), Steel/Metal Siding, Wood Pattern
          Cladding (Natural Wood Siding, Extruded Aluminum, Steel, PVC, etc,), Concrete Panels, and more modern siding
          products…
        </p>
        <h4 class="subtitle"><span>Metal</span> Cladding Products & Services</h4>
        <div class="materials-container">
          <div class="material-card">
            <h4 class="material-card__title">Wood Siding</h4>
            <img src="../images/wood.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Natural Wood Siding</p>
            <div class="material-card__colors">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
            </div>
            <a href="#" class="material-card__detail">Wood Siding</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">ACM Panels</h4>
            <img src="../images/ACM.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Aluminum Composite Panels</p>
            <div class="material-card__colors">
              <span class="material-card__color" style="background: #FEFEFE"></span>
              <span class="material-card__color" style="background: #848688"></span>
              <span class="material-card__color" style="background: #83706A"></span>
              <span class="material-card__color" style="background: #EF444B"></span>
              <span class="material-card__color" style="background: #708EC8"></span>
              <span class="material-card__color" style="background: #5CA47A"></span>
              <span class="material-card__color" style="background: #373435"></span>
            </div>
            <a href="#" class="material-card__detail">ACM Panels</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">Wood Siding</h4>
            <img src="../images/wood.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Natural Wood Siding</p>
            <div class="material-card__colors">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
            </div>
            <a href="#" class="material-card__detail">Wood Siding</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">ACM Panels</h4>
            <img src="../images/ACM.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Aluminum Composite Panels</p>
            <div class="material-card__colors">
              <span class="material-card__color" style="background: #FEFEFE"></span>
              <span class="material-card__color" style="background: #848688"></span>
              <span class="material-card__color" style="background: #83706A"></span>
              <span class="material-card__color" style="background: #EF444B"></span>
              <span class="material-card__color" style="background: #708EC8"></span>
              <span class="material-card__color" style="background: #5CA47A"></span>
              <span class="material-card__color" style="background: #373435"></span>
            </div>
            <a href="#" class="material-card__detail">ACM Panels</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">Wood Siding</h4>
            <img src="../images/wood.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Natural Wood Siding</p>
            <div class="material-card__colors">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
            </div>
            <a href="#" class="material-card__detail">Wood Siding</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">ACM Panels</h4>
            <img src="../images/ACM.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Aluminum Composite Panels</p>
            <div class="material-card__colors">
              <span class="material-card__color" style="background: #FEFEFE"></span>
              <span class="material-card__color" style="background: #848688"></span>
              <span class="material-card__color" style="background: #83706A"></span>
              <span class="material-card__color" style="background: #EF444B"></span>
              <span class="material-card__color" style="background: #708EC8"></span>
              <span class="material-card__color" style="background: #5CA47A"></span>
              <span class="material-card__color" style="background: #373435"></span>
            </div>
            <a href="#" class="material-card__detail">ACM Panels</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">ACM Panels</h4>
            <img src="../images/ACM.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Aluminum Composite Panels</p>
            <div class="material-card__colors">
              <span class="material-card__color" style="background: #FEFEFE"></span>
              <span class="material-card__color" style="background: #848688"></span>
              <span class="material-card__color" style="background: #83706A"></span>
              <span class="material-card__color" style="background: #EF444B"></span>
              <span class="material-card__color" style="background: #708EC8"></span>
              <span class="material-card__color" style="background: #5CA47A"></span>
              <span class="material-card__color" style="background: #373435"></span>
            </div>
            <a href="#" class="material-card__detail">ACM Panels</a>
          </div>
        </div>
        <h4 class="subtitle">Wood <span>Siding</span> Products & Services</h4>
        <div class="materials-container">
          <div class="material-card">
            <h4 class="material-card__title">Wood Siding</h4>
            <img src="../images/wood.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Natural Wood Siding</p>
            <div class="material-card__colors">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
            </div>
            <a href="#" class="material-card__detail">Wood Siding</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">ACM Panels</h4>
            <img src="../images/ACM.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Aluminum Composite Panels</p>
            <div class="material-card__colors">
              <span class="material-card__color" style="background: #FEFEFE"></span>
              <span class="material-card__color" style="background: #848688"></span>
              <span class="material-card__color" style="background: #83706A"></span>
              <span class="material-card__color" style="background: #EF444B"></span>
              <span class="material-card__color" style="background: #708EC8"></span>
              <span class="material-card__color" style="background: #5CA47A"></span>
              <span class="material-card__color" style="background: #373435"></span>
            </div>
            <a href="#" class="material-card__detail">ACM Panels</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">Wood Siding</h4>
            <img src="../images/wood.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Natural Wood Siding</p>
            <div class="material-card__colors">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
            </div>
            <a href="#" class="material-card__detail">Wood Siding</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">ACM Panels</h4>
            <img src="../images/ACM.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Aluminum Composite Panels</p>
            <div class="material-card__colors">
              <span class="material-card__color" style="background: #FEFEFE"></span>
              <span class="material-card__color" style="background: #848688"></span>
              <span class="material-card__color" style="background: #83706A"></span>
              <span class="material-card__color" style="background: #EF444B"></span>
              <span class="material-card__color" style="background: #708EC8"></span>
              <span class="material-card__color" style="background: #5CA47A"></span>
              <span class="material-card__color" style="background: #373435"></span>
            </div>
            <a href="#" class="material-card__detail">ACM Panels</a>
          </div>
        </div>
        <h4 class="subtitle">Fiber Cement <span>Board</span> & Precast Concrete Siding</h4>
        <div class="materials-container">
          <div class="material-card">
            <h4 class="material-card__title">Wood Siding</h4>
            <img src="../images/wood.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Natural Wood Siding</p>
            <div class="material-card__colors">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
              <img src="../images/wood.jpg" alt="" class="material-card__color">
            </div>
            <a href="#" class="material-card__detail">Wood Siding</a>
          </div>
          <div class="material-card">
            <h4 class="material-card__title">ACM Panels</h4>
            <img src="../images/ACM.jpg" alt="" class="material-card__img">
            <p class="material-card__description">Aluminum Composite Panels</p>
            <div class="material-card__colors">
              <span class="material-card__color" style="background: #FEFEFE"></span>
              <span class="material-card__color" style="background: #848688"></span>
              <span class="material-card__color" style="background: #83706A"></span>
              <span class="material-card__color" style="background: #EF444B"></span>
              <span class="material-card__color" style="background: #708EC8"></span>
              <span class="material-card__color" style="background: #5CA47A"></span>
              <span class="material-card__color" style="background: #373435"></span>
            </div>
            <a href="#" class="material-card__detail">ACM Panels</a>
          </div>
        </div>
      </div>
    </section>

    <section class="main-services">
      <div class="container">
        <h2 class="title-section">Siding Services</h2>
        <h3 class="title-xl">Exterior Cladding Services</h3>
        <p class="text text--left">
          CLADDERS is a trusted contractor for modern cladding solutions and services. We specialize in providing
          top-quality cladding solutions for both residential and commercial properties. We provide top-notch
          installation services for <a href="#">Metal Cladding,</a> <a href="#">Wood Exterior,</a> <a href="#">Vinyl Siding,</a>
          <a href="#">Aluminum Panels,</a> etc.
        </p>
        <div class="services-container">
          <div class="services-tabs">
            <span class="bg"></span>
          </div>
          <div class="service-content" data-service-name="DESIGN" data-service-img="../images/design.png">
            <p>
              One of the most crucial components of any construction project is Exterior Design. Whether you’re a
              builder, an architect, a property manager OR a homeowner, in DESIGN™ we offer trendy and modern exterior
              products and design services to everyone. Our designers will help you with material consultation,
              estimation, renderings, and project planning. Discuss your project with us today.
            </p>
          </div>
          <div class="service-content" data-service-name="SUPPLY" data-service-img="../images/supply.png">
            <p>
              One of the most crucial components of any construction project is Exterior Design. Whether you’re a
              builder, an architect, a property manager OR a homeowner, in SUPPLY™ we offer trendy and modern exterior
              products and design services to everyone. Our designers will help you with material consultation,
              estimation, renderings, and project planning. Discuss your project with us today.
            </p>
          </div>
          <div class="service-content" data-service-name="INSTALL" data-service-img="../images/install.png">
            <p>
              One of the most crucial components of any construction project is Exterior Design. Whether you’re a
              builder, an architect, a property manager OR a homeowner, in INSTALL™ we offer trendy and modern exterior
              products and design services to everyone. Our designers will help you with material consultation,
              estimation, renderings, and project planning. Discuss your project with us today.
            </p>
          </div>
        </div>
        <p class="text-small text-center">In CLADDERS™ we supply, design and install the best contemporary metal and composite siding products.</p>
        <p class="text-small text-center">Need more information? <a href="#">Contact us now!</a></p>
      </div>
    </section>

    <section class="main-quotation">
      <div class="container">
        <h2 class="title-section">Quotation</h2>
        <div class="quotation-title">
          <div class="quotation-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><h3 class="title-xl">Fast</h3></div>
              <div class="swiper-slide"><h3 class="title-xl">Accurate</h3></div>
              <div class="swiper-slide"><h3 class="title-xl">Detailed</h3></div>
            </div>
          </div>
          <h3 class="title-xl">Quotation</h3>
        </div>
        <div class="quotation-form">
          <h3 class="title-xl">Service Request</h3>
          <form action="">
            <input type="text" placeholder="Name" required>
            <input type="tel" id="phoneNumber" name="phoneNumber" pattern="\+1 [2-9][0-9]{2}-[2-9][0-9]{2}-[0-9]{4}" placeholder="Phone Number" required>
            <button type="submit">Send Request</button>
          </form>
        </div>
        <p class="text-small text--half">
          Leave us your name and phone number to schedule an appointment with us. One of our technicians will get in
          touch with you to confirm the details of our appointment OR site visit.
        </p>
      </div>
    </section>

    <section class="main-brands">
      <div class="container">
        <h2 class="title-section">BRANDS WE LOVE</h2>
        <h3 class="title-xl">Storefronts & Brand Identity Cladding</h3>
        <p class="text">
          CLADDERS™ Corporate Identity Program colors are available in a wide range of tones and glosses, including
          metallic and mica. Cladding materials are readily available for the standard brands options OR can be
          custom-created by our suppliers for any project with unique colors and finishes.
        </p>
        <div class="slider-wrapper">
          <div class="swiper-button swiper-button-prev">
            <svg>
              <use xlink:href="#arrow"></use>
            </svg>
          </div>
          <div class="slider-brands">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../images/brand.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-button swiper-button-next">
            <svg>
              <use xlink:href="#arrow"></use>
            </svg>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section class="main-more">
      <div class="container">
        <h2 class="title-section">MORE ABOUT US</h2>
        <h3 class="title-xl">What Makes us AWESOME!</h3>
        <p class="text">
          In CLADDERS™ we offer a wide range of Modern Cladding Materials and Professional Installation and Design
          Services for Industrial, Commercial and Residential projects. We help you find the best modern cladding
          products & we offer the top-grade cladding installation services.
        </p>
        <div class="more-container">
          <div class="more-card">
            <img src="../images/more-estimation.png" alt="" class="more-card__img">
            <h4 class="more-card__title">ESTIMATION</h4>
            <p class="more-card__description">
              In CLADDERS™ everything starts from estimating department. We offer professional service in choosing the
              correct siding materials, accurate measurements and detailed estimations for every job we take on!
            </p>
          </div>
          <div class="more-card">
            <img src="../images/more-design.png" alt="" class="more-card__img">
            <h4 class="more-card__title">DESING</h4>
            <p class="more-card__description">
              Our designers offer material consultation to help you choose the correct combination of materials and
              finishes. We will also provide 3D modeling services with accurate measurements to make sure your project
              goes off without a hitch!
            </p>
          </div>
          <div class="more-card">
            <img src="../images/more-supply.png" alt="" class="more-card__img">
            <h4 class="more-card__title">SUPPLY</h4>
            <p class="more-card__description">
              We are committed to providing only the best quality products for our customers. We have relationships with
              local suppliers so you know that your purchase is coming from someone who cares about their community as
              much as they do!
            </p>
          </div>
          <div class="more-card">
            <img src="../images/more-install.png" alt="" class="more-card__img">
            <h4 class="more-card__title">INSTALL</h4>
            <p class="more-card__description">
              Installation services is where CLADDERS™ stands out and shines. Our pro in-house teams of carpenters
              handle your project with care and attention according the top standards of workmanship. We deliver your
              project on-time with best quality.
            </p>
          </div>
          <div class="more-card">
            <img src="../images/more-support.png" alt="" class="more-card__img">
            <h4 class="more-card__title">SUPPORT</h4>
            <p class="more-card__description">
              We know all the ins and outs of building envelope technologies, materials and cladding systems. We offer a
              comprehensive material & workmanship warranty for any project. We are committed to excellence in
              everything we do from design to installation.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="main-faq">
      <div class="container">
        <h2 class="title-section">FAQs</h2>
        <h3 class="title-xl">Exterior Cladding: Frequently Asked Questions</h3>
        <p class="text">

        </p>
        <div class="faq-container">
          <div class="faq-accordion">
            <div class="faq-accordion__title">
              <svg>
                <use xlink:href="#arrow-accordion"></use>
              </svg>
              <h4>What is an example of cladding?</h4>
            </div>
            <div class="faq-accordion__content">
              <p>
                Cladding refers to a material that is used to cover or coat the external surface of a building or
                structure for protection or decoration purposes. There are different types of cladding materials
                available, such as brick, stone, metal, wood, vinyl, and composite materials.
              </p>
              <p>
                An example of cladding is the use of aluminum panels or steel sheets to cover the exterior walls of a
                high-rise building. Another example is the use of natural stone or ceramic tiles to cover the facade of
                a house or commercial building. In some cases, cladding can also refer to the use of materials to cover
                the interior surfaces of a building, such as decorative tiles on the walls of a bathroom or kitchen.
              </p>
            </div>
          </div>
          <div class="faq-accordion">
            <div class="faq-accordion__title">
              <svg>
                <use xlink:href="#arrow-accordion"></use>
              </svg>
              <h4>What is an example of cladding?</h4>
            </div>
            <div class="faq-accordion__content">
              <p>
                Cladding refers to a material that is used to cover or coat the external surface of a building or
                structure for protection or decoration purposes. There are different types of cladding materials
                available, such as brick, stone, metal, wood, vinyl, and composite materials.
              </p>
              <p>
                An example of cladding is the use of aluminum panels or steel sheets to cover the exterior walls of a
                high-rise building. Another example is the use of natural stone or ceramic tiles to cover the facade of
                a house or commercial building. In some cases, cladding can also refer to the use of materials to cover
                the interior surfaces of a building, such as decorative tiles on the walls of a bathroom or kitchen.
              </p>
            </div>
          </div>
          <div class="faq-accordion">
            <div class="faq-accordion__title">
              <svg>
                <use xlink:href="#arrow-accordion"></use>
              </svg>
              <h4>What is an example of cladding?</h4>
            </div>
            <div class="faq-accordion__content">
              <p>
                Cladding refers to a material that is used to cover or coat the external surface of a building or
                structure for protection or decoration purposes. There are different types of cladding materials
                available, such as brick, stone, metal, wood, vinyl, and composite materials.
              </p>
              <p>
                An example of cladding is the use of aluminum panels or steel sheets to cover the exterior walls of a
                high-rise building. Another example is the use of natural stone or ceramic tiles to cover the facade of
                a house or commercial building. In some cases, cladding can also refer to the use of materials to cover
                the interior surfaces of a building, such as decorative tiles on the walls of a bathroom or kitchen.
              </p>
            </div>
          </div>
        </div>
        <p class="text">
          Tired of receiving sub-standard service? Your project is about to be delivered by one of the best cladding
          contractor companies in Toronto. We’re offering a full suite of exterior services with a focus on modern
          cladding products. We offer cladding services to all neighborhoods in the southern Ontario, including Toronto,
          York, Etobicoke, Mississauga, Vaughan, Brampton, Richmond Hill, Markham, Burlington, Hamilton, New Market, and
          Aurora.. Looking for a professional cladding contractor for your upcoming project?
        </p>
      </div>
    </section>

    <section class="main-contact">
      <div class="container">
        <h3 class="title-xl">Need more information?</h3>
        <a href="#" class="title-xl block mx-auto">
          <span>Contact us Now!</span>
          <br>
          +1 (416) 649-6550
        </a>
      </div>
    </section>

    <p class="up">Go to Top</p>

    <%= require('raw-loader!./../includes/footer.html').default %>
    <%= require('raw-loader!./../includes/defs.html').default %>
  </body>
</html>